<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALX_G8HK_TsT0QWXSHROq9TwliRtgS4AI</string>
	<key>GCM_SENDER_ID</key>
	<string>593768174953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterbaseapp</string>
	<key>PROJECT_ID</key>
	<string>flutterbaseapp-1eed6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbaseapp-1eed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593768174953:ios:32783622bf9031ac4cd9f8</string>
</dict>
</plist>